.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vw;
  min-height: 100vh;
}

.programMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4vh 0 0 0;
  padding: 5vw;
}

.title {
  font-size: 1.5rem;
  font-weight: 900;
  margin: 0 0 1.5rem 0;
}

.description {
  width: 70%;
}

.buttonGroup {
  margin: 1rem 0;
}

.table {
  width: 100%;
}

.table > tbody {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(18, 1fr);
}

.thead {
  display: flex;
  align-items: center;
  height: 3rem;
}

.sideHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  border: 1px solid black;
}

.doneBox {
  background-color: #66bb6a;
}

.missedBox {
  background-color: rgb(255, 88, 88);
}